{% extends "accounts/test.html" %}

{%load static %}

{% block styles %}
<link rel="stylesheet" href="{%static 'accounts/css/meus_livros.css'%}">
{% endblock %}

{% block content %}

<br>



<div class='container'>

    {% if alugueis_alugados%}
    {% for alugado in alugueis_alugados %}

        <div class="card">

            <div class="card-header">
                <h6>Prazo Devolução: {{ alugado.prazo_devolucao}}</h6>
            </div>

            <div class="card-body">
                <h5 class="card-title">Livro: {{ alugado.estoque_fk.livro_fk.nome }}</h5>
                {% for autor in alugado.estoque_fk.livro_fk.fk_autor.all %}
                    <h6>Autor: {{ autor.nome }}</h6>
                {% endfor %}
                <br>
                <a href="{% url 'livro' alugado.estoque_fk.livro_fk.id %}" class="btn btn-primary">Página do Livro</a>
            </div>

        </div>

    {% endfor %}
    {% else %}
        <center>
        <h3>Voce ainda não alugou nenhum livro</h3>
        <br>
        <img id='imagem' src="{% static 'accounts/img/meus_livros_img.png'%}">
        <br>
        <a href="{% url 'livros' %}"><button type="button" class="btn btn-light">Buscar Livros</button></a>
        </center>
    {% endif %}

</div>

{% endblock %}