{% extends "accounts/adm/base_adm.html" %}

{%load static %}

{% block styles %}
{% endblock %}


{% block content %}


<br>

<div class='container'>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            
            <div class ='col'>
                <div class="form-group">
                    <label for="{{ form.isbn.id_for_label }}">ISBN:</label>
                    {{ form.isbn }}
                </div>
            </div>

            <div class ='col'>
                <div class="form-group">
                    <label for="{{ form.nome.id_for_label }}">Nome:</label>
                    {{ form.nome }}
                </div>
            </div>

        </div>

        <br>

        <div class="row">
            
            <div class ='col'>
                <div class="form-group">
                    <label for="{{ form.data_lançamento.id_for_label }}">Data:</label>
                    <input type="date" class="form-control" id="{{ form.data_lançamento.id_for_label }}" name="{{ form.data_lançamento.name }}">
                </div>
            </div>

            <div class ='col'>
                <div class="form-group">
                    <label for="{{ form.cover.id_for_label }}">Capa:</label>
                    <input type="file" class="form-control" id="{{ form.cover.id_for_label }}" name="{{ form.cover.name }}">

                </div>
            </div>

        </div>

        <br>

        <div class="row">

            <div class ='col'>
                <div class="form-group">
                    <label for="{{ form.fk_autor.id_for_label }}">Autor:</label>
                    {{ form.fk_autor }}
                </div>
            </div>

            <div class ='col'>
                <div class="form-group">
                    <label for="{{ form.genero_fk.id_for_label }}">Tipo</label>
                    {{ form.genero_fk }}
                </div>
            </div>

        </div>

        <br>


        <div class="row">

            <div class ='col'>
                <div class="form-group">
                    <label for="{{ form.fk_editora.id_for_label }}">Editora:</label>
                    {{ form.fk_editora }}
                </div>
            </div>

            <div class ='col'>
                <div class="form-group">
                    <label for="{{ form.tipo.id_for_label }}">Tipo</label>
                    <select class="form-control" id="id_tipo" name="tipo">
                        <option value="Ficçao">Ficção</option>
                        <option value="Não Ficção">Nao Ficção</option>
                    </select>
                </div>
            </div>

        </div>

        <center>
            <br>
            <br>

            <button type="submit" class="btn btn-primary">Criar</button>

            {% for message in messages %}
            <br>
            <br>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
            </div>
            {% endfor %}

        </center>


    </form>
</div>




{% endblock %}
