{% extends "accounts/adm/base_adm.html" %}

{%load static %}

{% block styles %}
<link rel="stylesheet" href="{%static 'accounts/adm/css/livro_adm.css'%}">
{% endblock %}


{% block content %}

<div class="d-flex flex-row">

    <div class='tela-esquerda'>
        <img src="{{ livro.cover.url }}" alt="Capa de {{ livro.nome }}">
    </div>

    <div class='tela-direita'>

        <h1>{{ livro.nome }}</h1>

        <p>ISBN: {{ livro.isbn }}</p>

        <p>Data de Lançamento: {{ livro.data_lançamento }}</p>

        <p>Autor: 
            {%for autor in autores%}
            {{autor.nome}}</p>
        {%endfor%}

        <p>Tipo: {{ livro.tipo }}</p>


        <p>Generos: 
            {%for genero in generos%}
            {{genero.nome}}</p>
        {%endfor%}

        <p>Editora: {{ livro.fk_editora.nome }}</p>

        {% include "accounts/adm/livros_crud/adicionar_copia.html" %}

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adicionar_edicao">
            Adicionar Cópia
        </button>
        <br>
        <br>



        {% if copia_disponivel %}
            <a href="{% url 'alugar_livro' livro.id %}">
                <button type="button" class="btn btn-primary">Registrar Aluguel</button>
            </a>
        {%else%}
            
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <p class="card-text">Indisponivel para Aluguel</p>
                </div>
            </div>
        {% endif %}


        <br>

        {% for message in messages %}
            <p id='messages'>{{message}}</p>
        {% endfor %}

    </div>
    <br>


      

</div>




{% endblock %}