{% extends "accounts/adm/base_adm.html" %}

{%load static %}

{% block styles %}
<link rel="stylesheet" href="{%static 'accounts/adm/css/adm_tabelas.css'%}">
{% endblock %}


{% block content %}

{% include 'accounts/adm/autores_crud/adicionar_autor_adm.html'%}
{% include 'accounts/adm/autores_crud/delete_autor.html'%}




<br>

<center>
    <h1>AUTORES</h1>
    <br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adicionarAutorModal">
      Cadastrar Autor
    </button>

</center>



<br>

<div class='container'>

  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
  </div>
  <br>
  {% endfor %}
  
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">NASCIMENTO</th>
            <th scope="col">NACIONALIDADE</th>
            <th scope="col">AÇÕES</th>
          </tr>
        </thead>
        <tbody>
            {% for autor in autores %}
          <tr>
            <td>{{ autor.id}}</td>
            <td>{{ autor.nome}}</td>
            <td>{{ autor.data_nascimento}}</td>
            <td>{{ autor.nacionalidade}}</td>
            <td>
                <div class='icones'>

                    <a href="{% url 'deletar_autor_adm' autor_id=autor.id %}" class="confirm-delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{autor.id}}">
                        <i class="fas fa-trash" id='deletar'></i>
                    </a>

                    <a href="#">
                        <i class="fas fa-pen" id='editar'></i>
                    </a>

                </div>

            </td>

          </tr>
          {% endfor%}
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

  $(document).ready(function() {
    // Function to handle click on delete link
    $(document).on('click', '.confirm-delete', function (e) {
      e.preventDefault(); // Prevent the default action
      var deleteUrl = $(this).attr("href"); // Get the delete URL
      $("#confirmDeleteModal").modal('show'); // Show the modal
      $("#confirmDeleteButtonModal").attr("href", deleteUrl); // Set the delete URL as the href of the delete button in the modal
    });
    
    // Function to handle click on confirm delete button in the modal
    $(document).on('click', '#confirmDeleteButtonModal', function () {
      var deleteUrl = $(this).attr("href"); // Get the delete URL from the delete button
      window.location = deleteUrl; // Redirect to the delete URL
    });
  });

</script>


{% endblock %}