{% extends "accounts/adm/base_adm.html" %}

{%load static %}

{% block styles %}
<link rel="stylesheet" href="{%static 'accounts/adm/css/adm_tabelas.css'%}">
{% endblock %}


{% block content %}

{% include 'accounts/adm/autores_crud/adicionar_autor_adm.html'%}
{% include 'accounts/adm/deletar.html'%}


<br>

<center>
    <h1>AUTORES</h1>
    <br>
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#adicionarAutorModal">
      Cadastrar Autor
    </button>

</center>


<br>

<div class='container'>

  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
  </div>
  <br>
  {% endfor %}
  
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">NASCIMENTO</th>
            <th scope="col">NACIONALIDADE</th>
            <th scope="col">AÇÕES</th>
          </tr>
        </thead>
        <tbody>
            {% for autor in autores %}
          <tr>
            <td>{{ autor.id}}</td>
            <td>{{ autor.nome}}</td>
            <td>{{ autor.data_nascimento}}</td>
            <td>{{ autor.nacionalidade}}</td>
            <td>
                <div class='icones'>

                    <a href="{% url 'deletar_autor_adm' autor_id=autor.id %}" class="confirm-delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{autor.id}}">
                        <i class="fas fa-trash" id='deletar'></i>
                    </a>

                    <a href="{% url 'editar_autor_adm' autor.id %}">
                      <i class="fas fa-pen" id='editar'></i>
                    </a>

                </div>

            </td>

          </tr>
          {% endfor%}
        </tbody>
    </table>
</div>



<div id="modal-editar" style="display: none;">
  <form id="form-editar-item" method="post">
      {% csrf_token %}
      <input type="text" id="nome" name="nome">
      <textarea id="descricao" name="descricao"></textarea>
      <button type="submit">Salvar</button>
  </form>
</div>




{% block scripts%} 
<script src="{% static 'accounts/adm/js/delete.js' %}"></script>

<script>
  $(document).ready(function() {
      $('.editar-item').click(function() {
          var itemId = $(this).data('item-id');
          $.get('/editar-item/' + itemId + '/', function(data) {
              $('#nome').val(data.nome);
              $('#data_nascimento').val(data.data_nascimento);
              $('#nacionalidade').val(data.nacionalidade);
              $('#modal-editar').show();
          });
      });
  
      $('#form-editar-item').submit(function(e) {
          e.preventDefault();
          var formData = $(this).serialize();
          $.post($(this).attr('action'), formData, function(data) {
              if (data.success) {
                  // Atualizar a página ou fazer outra ação de feedback
                  location.reload();
              } else {
                  alert('Erro ao salvar as alterações.');
              }
          });
      });
  });
  </script>
{%endblock%}

{% endblock %}