{% extends "accounts/test.html" %}

{%load static %}

{% block styles %}
<link rel="stylesheet" href="{%static 'accounts/css/home.css'%}">
{% endblock %}


{% block content %}

<div class="container">
    <div class="left-div">
        <img src="{% static 'accounts/img/home-page-image.png'%}" alt="Imagem">
    </div>
    <div class="right-div">
        <div>
            <center>
            <h1>Bem Vindo ao</h1>
            <h1>Cyber Books</h1>
            <br>
            <a href="{% url 'livros'%}"><button type="button" class="btn btn-light">Buscar Livros</button><a/>
            </center>
        </div>
    </div>
</div>

{% endblock content %}
