{%load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>{% block title %}{% endblock %}</title>
  {% block styles%}{%endblock%}
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">
  
</head>
<body>
    
  {% include "accounts/components/navbar.html" %}

  {% block content %}
  {% endblock %}



  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


</body>
</html>