{%load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% block styles%}{%endblock%}
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">
  
</head>
<body>
    
  {% include "accounts/components/navbar.html" %}
  {% include 'accounts/user/update.html' %}

  {% block content %}
  {% endblock %}


  <script src="{% static 'bootstrap/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap/modal-forms/jquery.bootstrap.modal.forms.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</body>
</html>