{% extends "accounts/test.html" %}

{% block content %}
    <div class="form-content">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Username:</label>
                            {{ user_form.username }}
                        <label class="small mb-1">Email:</label>
                            {{ user_form.email }}
                    </div>
            <button type="submit" class="btn btn-dark btn-lg">Salvar</button>
            <button type="reset" class="btn btn-dark btn-lg">Limpar</button>
        </form>
    </div>
{% endblock content %}