

.icones{
    display: inline-flex;
}


.adicionar-autor-modal{
    color:black;
}
.deletar-autor-modal{
    color:black;
}


#visualizar{
    color: blue;
    padding-right: 10px;
    cursor: pointer;
}


#deletar{
    color: red;
    padding-left: 5px;
    padding-right: 5px;
}

#editar{
    color: black;
    padding-left: 10px;
}
