{% extends "accounts/adm/base_adm.html" %}

{%load static %}

{% block styles %}
<link rel="stylesheet" href="{%static 'accounts/adm/css/livros_adm.css'%}">
{% endblock %}


{% block content %}

<br>

<center>
    <h1>LIVROS</h1>
</center>

<br>

<div class='container'>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ISBN</th>
            <th scope="col">NOME</th>
            <th scope="col">AUTOR</th>
            <th scope="col">AÇÕES</th>
          </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
          <tr>
            <td>{{ livro.isbn}}</td>
            <td>{{ livro.nome}}</td>
            <td>
                {% for autor in livro.fk_autor.all%}
                {{ autor.nome}}
                {% endfor%}
            </td>
            <td>
                <div class='icones'>

                    <a data-bs-toggle="modal" data-bs-target="#visualizar-livro-modal">
                        <i class="fas fa-eye" id='visualizar'></i>
                    </a>

                    <a href="#">
                        <i class="fas fa-trash" id='deletar'></i>
                    </a>

                    <a href="#">
                        <i class="fas fa-pen" id='editar'></i>
                    </a>

                </div>

            </td>

          </tr>
          {% endfor%}
        </tbody>
    </table>
</div>









<div class='visualizar-modal'>
    <div class="modal fade" id="visualizar-livro-modal" tabindex="-1" aria-labelledby="visualizar-livro-modal" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                {% for livro in livros %}

                <div class="modal-header">
                    <h1>{{ livro.nome}}</h1>
                
                </div>

                <div class="modal-body">

                </div>

                <div class="modal-footer">

                </div>

                {% endfor%}
            </div>
        </div>
    </div>
</div>


{% endblock %}