{% extends "accounts/adm/base_adm.html" %}

{%load static %}

{% block styles %}
<link rel="stylesheet" href="{%static 'accounts/adm/css/adm_tabelas.css'%}">
{% endblock %}


{% block content %}

<br>

<center>
    <h1>LIVROS</h1>
    <br>
    <a href="{% url 'adicionar_livro_adm' %}"><button type="button" class="btn btn-light">Adicionar</button></a>

</center>

<br>

<div class='container'>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ISBN</th>
            <th scope="col">NOME</th>
            <th scope="col">AUTOR</th>
            <th scope="col">AÇÕES</th>
          </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
          <tr>
            <td>{{ livro.id}}</td>
            <td>{{ livro.isbn}}</td>
            <td>{{ livro.nome}}</td>
            <td>
                {% for autor in livro.fk_autor.all%}
                {{ autor.nome}}
                {% endfor%}
            </td>
            <td>
                <div class='icones'>

                    <a href="{% url 'livro_adm' livro.id %}">
                        <i class="fas fa-eye" id='visualizar'></i>
                    </a>
                    

                    <a href="{% url 'deletar_livro_adm' livro.id %}">
                        <i class="fas fa-trash" id='deletar'></i>
                    </a>

                    <a href="#">
                        <i class="fas fa-pen" id='editar'></i>
                    </a>

                </div>

            </td>

          </tr>
          {% endfor%}
        </tbody>
    </table>
</div>



{% include 'accounts/adm/livros_crud/visualizar.html'%}


{% block scripts %}
<script src="{% static 'accounts/adm/js/livros.js' %}"></script>
{%endblock%}

{% endblock %}