<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Cyber Books</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'adm_home'%}">Home</a>
          <a class="nav-link" href="{% url 'livros_adm'%}">Livros</a>
          <a class="nav-link" href="{% url 'autores_adm'%}">Autores</a>
          <a class="nav-link" href="{% url 'generos_adm'%}">Generos</a>
          <a class="nav-link" href="{% url 'editoras_adm'%}">Editoras</a>
          <a class="nav-link" href="{% url 'alugueis_adm'%}">Alugueis</a>
          <a class="nav-link" href="{% url 'devolucoes_adm'%}">Devoluções</a>
          <a class="nav-link" href="{% url 'pedidos_adm'%}">Pedidos</a>
          <a class="nav-link" href="{% url 'perfil_adm'%}">{{request.user}}</a>

        </div>

        <div class="navbar-text ms-auto">
          <a class = 'nav-link' href='{% url 'sair' %}'>Sair</a>
      </div>
    </div>



</nav>
