{% extends "accounts/adm/base_adm.html" %}

{%load static %}

{% block styles %}

{% endblock %}


{% block content %}



<div class='container'>
<br>
<center>  
<h1>Pedidos</h1>

<br>
<table class="table"style="width: 50%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Livro</th>
        <th scope="col">Visualizar</th>
      </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
      <tr>
        <td>{{ pedido.user_fk.username}}</td>
        <td>{{ pedido.nome_livro}}</td>
        <td>
          <a href="{% url 'pedido_adm' pedido.id %}">
            <i class="fas fa-eye" style="margin-left:15px;"></i>
        </a>
        </td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</center>
</div>


{% endblock %}