{% extends "accounts/test.html" %}

{%load static %}

{% block styles %}
<link rel="stylesheet" href="{%static 'accounts/css/livros.css'%}">
{% endblock %}

{% block content %}

    <div class="d-flex flex-row">
        {% for livro in livros %}
            <div class='capa'>
                <a href="{% url 'livro' livro.id %}">
                    <img src="{{ livro.cover.url }}" alt="Capa de {{ livro.nome }}">
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
    
