{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="icon" href="data:,">
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <title>Document</title>

    <style>
        body, html {
            height: 100%;
            margin: 0;
            background-color: #22359C;
            color: white
        }
        .tela-esquerda{
            height: 91vh;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            width: 390px
        }
    </style>
</head>
<body>

    {% include "accounts/components/navbar.html" %}


    <div class="d-flex flex-row">
        <div class='tela-esquerda'>
            <img src="{{ livro.cover.url }}" alt="Capa de {{ livro.nome }}">
        </div>
        <div class='tela-direita'>

            <h1>{{ livro.nome }}</h1>

            <p>ISBN: {{ livro.isbn }}</p>

            <p>Data de Lançamento: {{ livro.data_lançamento }}</p>

            <p>Autor: 
                {%for autor in autores%}
                {{autor.nome}}</p>
            {%endfor%}

            <p>Tipo: {{ livro.tipo }}</p>


            <p>Generos: 
                {%for genero in generos%}
                {{genero.nome}}</p>
            {%endfor%}

            <p>Editora: {{ livro.fk_editora.nome }}</p>



        </div>
    </div>





    
</body>
</html>
