{% extends "accounts/adm/base_adm.html" %}

{%load static %}

{% block styles %}
<link rel="stylesheet" href="{%static 'accounts/adm/css/adm_tabelas.css'%}">
<style>
  .adicionar-editora-modal{
    color:black;
}

</style>
{% endblock %}


{% block content %}

{% include 'accounts/adm/editoras_crud/adicionar_editora_adm.html'%}
{% include 'accounts/adm/deletar.html'%}

<br>

<center>
    <h1>EDITORAS</h1>
    <br>
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#adicionareditoraModal">
      Cadastrar Genero
    </button>

</center>

<br>

<div class='container'>

  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
  </div>
  <br>
  {% endfor %}

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">Endereço</th>
            <th scope="col">Telefone</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
            {% for editora in editoras %}
          <tr>
            <td>{{ editora.id}}</td>
            <td>{{ editora.nome}}</td>
            <td>{{ editora.endereço }}</td>
            <td>{{ editora.telefone }}</td>
            <td>
                <div class='icones'>


                    <a href="{% url 'deletar_editora_adm' editora_id=editora.id %}" class="confirm-delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{editora.id}}">
                        <i class="fas fa-trash" id='deletar'></i>
                    </a>

                    <a href="{% url 'editar_editora_adm' editora.id %}">
                        <i class="fas fa-pen" id='editar'></i>
                    </a>

                </div>

            </td>

          </tr>
          {% endfor%}
        </tbody>
    </table>
</div>




{% block scripts%} 
<script src="{% static 'accounts/adm/js/delete.js' %}"></script>

{%endblock%}

{% endblock %}